@import "../../styles/colors.scss";

.Menu {
    position: absolute;
    flex-direction: column;
    width: 250px;
    height: 100%;
    background-color: $black;
    box-shadow: 0 0 12px #000;
    border-right: 1px solid $gray;
    padding: 60px 0;
    top: 0;
    transition: all 0.2s;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: scroll;

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 420px) {
    .Menu {
        padding-top: 100px;
    }
}
