@import "../../styles/colors.scss";

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $backgroundDark;

    .main {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;
        padding: 40px 20px;
        gap: 50px;
    }

    .profile {
        display: flex;
        gap: 50px;
        justify-content: center;
    }

    .terminalBox {
        display: flex;
        width: 600px;
        height: 400px;
    }

    .devicons {
        max-width: 800px;
    }

    .interactive {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 60px;
    }

    .messenger {
        display: flex;
        width: 500px;
        height: 281px;
    }
}

// Projects Link and Messenger
@media (max-width: 360px) {
    .Home {
        .interactive > div {
            width: 320px;
            height: 180px;
        }
    }
}

@media (min-width: 361px) and (max-width: 375px) {
    .Home {
        .interactive > div {
            width: 335px;
            height: 189px;
        }
    }
}

@media (min-width: 376px) and (max-width: 390px) {
    .Home {
        .interactive > div {
            width: 350px;
            height: 197px;
        }
    }
}

@media (min-width: 391px) and (max-width: 420px) {
    .Home {
        .interactive > div {
            width: 370px;
            height: 208px;
        }
    }
}

// Profile and DevIcons and page orientation
@media (max-width: 420px) {
    .Home {
        .main {
            padding: 20px;
            gap: 40px;
        }

        .profile {
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;
            gap: 20px;
        }

        .terminalBox {
            min-width: 300px;
            max-width: 100%;
            height: 240px;
        }

        .interactive {
            flex-direction: column;
            gap: 40px;
        }
    }
}

@media (min-width: 421px) and (max-width: 770px) {
    .Home {
        .main {
            padding: 20px;
            gap: 30px;
        }

        .profile {
            flex-direction: column-reverse;
            align-items: center;
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .terminalBox {
            min-width: 300px;
            max-width: 100%;
            height: 320px;
        }

        .devicons {
            max-width: 600px;
        }

        .interactive {
            flex-direction: column;
        }
    }
}

@media (min-width: 771px) and (max-width: 1080px) {
    .Home {
        .main {
            padding: 20px;
            gap: 40px;
        }

        .profile {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 30px;
        }

        .terminalBox {
            min-width: 400px;
            max-width: 100%;
            height: 300px;
        }

        .devicons {
            max-width: 800px;
        }
    }
}
