@import "../../styles/colors.scss";

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $backgroundDark;

    .main {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;
        padding: 20px;
    }

    .presentation {
        display: flex;
        gap: 50px;
        justify-content: center;
    }
}
