@import "../../../../styles/colors.scss";

.ProjectCard {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 214px;
    position: relative;
    cursor: pointer;
    transition: all 0.1s ease-in;
    border: 1px solid $gray;
    box-shadow: 0 0 12px #000;

    .label {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        z-index: 5;
        padding: 10px;
        text-shadow: 3px 3px 10px #000;
        background-color: #000b;
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        transform: scale(1.1);

        .label {
            background-color: #0000;
            color: #0000;
            text-shadow: none;
        }
    }
}

@media (max-width: 360px) {
    .ProjectCard {
        width: 320px;
        height: 180px;
    }
}

@media (min-width: 361px) and (max-width: 375px) {
    .ProjectCard {
        width: 335px;
        height: 189px;
    }
}

@media (min-width: 376px) and (max-width: 390px) {
    .ProjectCard {
        width: 350px;
        height: 197px;
    }
}

@media (min-width: 391px) and (max-width: 420px) {
    .ProjectCard {
        width: 374px;
        height: 210px;
    }
}
